{% extends "base.html" %} {% block start %} {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="text-center p-3">
      <h1>Our Categories</h1>
    </div>
  </div>
</div>
<!-- End Hero Section -->
<!-- Start Product Section -->
<div class="product-section">
  <div class="container">
    <div class="row">
      {% for data in category_data%}
      <div class="col-md-4 my-5">
        <div class="card">
          <img src="../../media/{{data.category_image}}" class="card-img-top" style="height: 300px" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{data.category_name}}</h5>
            <a href="#" class="btn btn-primary">Explore More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- End Product Section -->

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/custom.js"></script>
{% endblock %}